<%- include('../partials/header') %>
    
    <main class="flex justify-center items-center w-1/5 mx-auto mt-4 gap-4 bg-amber-400">
        <ul>
            <% skills.forEach(skill => { %>
                <li>
                    <a class="underline text-white text-xl" href="/skills/<%= skill.name %>"><%= skill.name %></a>
                </li>
            <% }) %>
        </ul>
    </main>
    <div class="flex justify-center items-center w-1/5 mx-auto mt-4 gap-4 bg-amber-400">
        <a href="/skills/new" class="underline text-white text-xl">Add New Skill</a>
    </div>
<%- include('../partials/footer') %>
