<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="w-screen h-screen bg-amber-100">
    <header class="flex justify-center items-center w-full h-20 mt-6 bg-amber-200">
        <h3 class="text-4xl"><%= skill.name %></h3>
    </header>
    
    <main class="flex justify-center items-center w-1/5 mx-auto mt-4 gap-4 bg-amber-400 text-white text-xl flex-wrap">
        <h3>Level - <%= skill.level %></h3>
        <h3>Experience Years - <%= skill.experienceYears %></h3>
    </main>
</body>
</html>