<%- include('./partials/header') %>
    <ul class="flex justify-center items-center w-1/5 mx-auto mt-4 gap-4 bg-amber-400 text-white text-xl flex-wrap">
      <li class="underline"><a href="/skills">Sylvester Smith</a></li>
    </ul>
<%- include('./partials/footer') %>
